@use 'colors';
@use '_reset';
@use '_components';

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    // font-family: 'Quintessential', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-size: 1.6rem;
}


//NAVIGATION

nav {
    background-color: rgba($color: #000000, $alpha: .6);
    box-shadow: 0px 2px 12px 0px rgba($color: #000000, $alpha: .9);
    z-index: 1;
    text-shadow: 2px 2px 5px black;

    .navbar-brand {
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase;

        font-style: oblique;

        span {
            color: colors.$fontBrandColor;
            // e9c3eb
        }
    }

    .nav-link {
        color: white;
        text-transform: uppercase;
        z-index: 1;

        &:hover {
            color: colors.$fontBrandColor;
        }

        &:focus {
            color: colors.$fontBrandColor;
        }
    }

    .brand {
        height: 75px;
        width: 120px;
        background-image: url(../img/logo_mini.png);
        background-size: contain;
        background-position: center;
        border-radius: 50%;

    }



    .active {
        color: colors.$fontBrandColor;
    }

    .fa-bars {
        font-size: 25px;
        padding: 5px;
        color: colors.$fontMainColor;
    }

}



.header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/couple-4615557_1920.jpg);
    background-size: cover;
    background-position: center left 54%;
    background-attachment: fixed;
    z-index: 0;
    transition: background-size 5s;
    color: colors.$fontMainColor;

    &__shadow-bg {
        background-color: rgba(59, 51, 51, 0.411);
    }

    &__text {
        padding: 0 10px;
        text-align: center;
        font-family: 'Quintessential', cursive;
        // font-family: 'Montserrat', sans-serif;
        text-shadow: rgb(0, 0, 0) 2px 2px 15px;
        font-size: 1em;

        h1 {
            font-size: 3em;
        }

        p {
            font-size: 1.4em;
        }
    }

    .fa-angles-down {
        padding: 10px;
        position: absolute;
        bottom: 30px;
        font-size: 2.5rem;
        text-shadow: 0 0 10px black;

        &:hover {
            cursor: pointer;
        }
    }
}

//aboutme

.aboutme {
    background-image: url(../img/wedding-5156639_1920_about.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 0 0 2px black;
    z-index: 0;

    &__shadow-bg {
        background-color: rgba(8, 17, 9, 0.685);
    }

    &__text {
        // padding: 0px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        // padding-left: 15px;
    }

    &__photo {
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            max-width: 555px;
            border-radius: 10px;
        }
    }

    &__textParagraph {
        // padding: 0px 25px;
        margin-bottom: 20px;
        font-size: .7em;

        h2 {
            font-size: 1.8em;
            margin-bottom: 10px;
            text-align: center;
            font-weight: bold;
        }

        p {
            font-size: 1.2em;
            text-align: center;
            padding: 0;
        }
    }

    &__text .aboutme__textParagraph:last-child {
        margin-bottom: 0;
    }

}

//Offer


.offer {
    width: 100%;
    background-image: url(../img/stone-2929205_1280.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    color: #000000;
    text-shadow: none;
    padding-left: 0;
    padding-right: 0;
    box-shadow: inset 1px 1px 6px 0px black;


    &__shadow-bg {
        background-color: rgba(29, 26, 29, 0.185);
    }

    &__text {
        min-height: 40vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: center;
        justify-content: space-around;
        align-items: center;
        color: #000000;
        background-color: rgba(255, 255, 255, 0.342);
        // box-shadow: -5px 3px 17px 0px black;
        font-size: 0.7em;
    }


    &__services {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.85em;
        color: #000000;
        border-right: 1px solid rgb(114, 110, 110);
    }

    &__service {
        position: relative;
        padding: 5px 7px;
        margin-bottom: 10px;
        width: 100%;
        text-transform: uppercase;
        text-align: center;
        color: #000000;

        &:first-child {
            margin-top: 10px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 3px;
            left: 50%;
            transform: translateX(-50%) scaleX(0);
            height: 1px;
            width: 40%;
            background-color: rgb(177 140 177);
            transition: .4s transform;
        }

        &--active {
            font-weight: bold;

            &::after {
                transform: translateX(-50%) scaleX(1);
            }
        }

        &:hover {
            cursor: pointer;
            color: #000000;
            font-weight: bold;
        }

    }

    &__descriptions {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.9em;
    }


    &__description {
        // display: none;
        position: absolute;
        height: 100%;
        padding: 20px 20px;
        opacity: 0;
        transition: .6s opacity;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // display: none;
        // cursor: default;
        // top: 50%;
        // opacity: 0;
        // transition: opacity .9s;

        // &:hover {
        //     opacity: 1;
        // }

        &--active {
            // display: contents;
            opacity: 1;
            z-index: 2;
        }

    }

}


//realizations


.realizations {
    width: 100%;
    background-image: url(../img/stone-2929205_1280.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    z-index: 0;
    border-top: 2px solid #434343;
    box-shadow: inset 1px 1px 6px 0px black;

    &__shadow-bg {
        background-color: rgba(29, 26, 29, 0.185);
    }

    .container {
        max-width: 1140px;
    }

    .carousel {
        box-shadow: -5px 3px 17px 0px black;

        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            background-color: #000000a1;
            height: 4rem;
            width: 4rem;
        }
    }
}


//footer
footer {
    display: flex;
    padding: 5px 0;
    // height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    border-top: 1px solid #2e2a2f2e;
    background-color: rgb(178 173 179 / 58%);

    p {
        margin: 0;
    }
}


@media (min-width:405px) {
    .header {
        &__text {
            padding: 0 12%;
        }
    }
}

@media (min-width:483px) {
    .header {
        &__text {
            padding: 0 17%;
        }
    }
}


@media (min-width:576px) {
    .section {
        font-size: 1.1em;
    }

    .offer {
        .container {
            max-width: 800px;
        }

        &__text {
            font-size: .85em;
        }

        &__services {
            font-size: 0.85em;
        }
    }
}


@media (min-width:744px) {
    .header {
        &__text {
            padding: 0 90px;
        }
    }

    .offer {
        .container {
            max-width: 800px;
            min-height: 30vh;
        }

        &__text {
            font-size: .85em;
        }

        &__services {
            font-size: 0.85em;
        }

    }
}


@media (min-width:992px) {
    nav {
        .nav-link {
            margin: 0 10px;
        }
    }

    .aboutme {
        background-position: 10% 60%;
        z-index: 0;



        &__text {
            padding-left: 15px;
        }
    }

    .offer {
        .container {
            max-width: 90%;
        }

        &__text {
            font-size: .9em;
            min-height: 30vh;
        }

        &__services {
            font-size: 0.9em;
        }
    }

}

@media (min-width:1200px) {
    .aboutme {
        &__textParagraph {
            font-size: .8em;
        }
    }

    .offer {
        .container {
            max-width: 1140px;
        }
    }

}